---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About Me</title>
	</head>
	<body>
    <nav>
			<ul>
				<li><a href="/" alt="Astro Blog">Home</a></li>
        <li>About</li>
				<li><a href="/blog" alt="My blog">Blog</a></li>
			</ul>
		</nav>
		<h1>About me</h1>
    <h2>... and my new site built with Astro</h2>
    <p>I am working throught the Astro's introductory tutorial.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere atque nisi ab quos, quibusdam exercitationem veniam expedita eligendi qui eius accusantium dolore perspiciatis nihil labore praesentium beatae dolorem! Minima, distinctio.</p>
	</body>
</html>
