---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog</title>
	</head>
	<body>
    <nav>
			<ul>
				<li><a href="/" alt="Astro Blog">Home</a></li>
				<li><a href="/about" alt="About me">About</a></li>
        <li>Blog</li>
			</ul>
		</nav>
		<h1>Welcome to my blog!</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit quia odio voluptate porro doloribus a cum itaque eligendi corrupti sit aliquam dolore ratione esse magni, quae consectetur vero? Placeat, quod!</p>
    <p>Twitter is a new Bird!</p>
	</body>
</html>
