---
import '../styles/global.css';

const pageTitle = "Home Page";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<nav>
			<ul>
				<li>{pageTitle}</li>
				<li><a href="/about" title="About me">About Me</a></li>
				<li><a href="/blog" title="My blog">Blog</a></li>
			</ul>
		</nav>
		<h1>Hello to my Astro Blog!</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores minus delectus tempora dignissimos dolore exercitationem aut officia laborum dolores vel. Inventore modi ut in eaque. Veniam molestiae ipsa magnam perspiciatis.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium obcaecati ipsum velit sunt distinctio impedit eligendi sint odit libero delectus, animi maxime, quidem fugit odio reiciendis quis maiores, voluptates accusamus?</p>
	</body>
</html>
